video {
  border: 8px ridge #000;
  height: 100%;
  margin: 1rem;
  object-fit: cover;
  width: 100%;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
}
